/* 
    Stay Home Festival style sheet
    Filename: styles.css

    Authors:    Brit Barrick, James Hornsby, Orion Strinni
    Date:       11/17/20
    IS139 - Group 1 Final Project
*/

/* 
    #593E67
    #84495F
    #B85B56
    #DE741C
    #FEA837
*/

/* reset styles */
html {
    font-size: 18px;
}
body, div, footer, header, h1, nav, p {
    border: 0;
    padding: 0;
    margin: 0;
}