/* 
    Stay Home Festival style sheet
    Filename: styles.css

    Authors:    Brit Barrick, James Hornsby, Orion Strinni
    Date:       11/17/20
    IS139 - Group 1 Final Project
*/

/* reset styles */
html {
    font-size: 18px;
}
body, div, footer, header, h1, nav, p {
    border: 0;
    padding: 0;
    margin: 0;
}