/* cstyles.css */
/* 
    Stay Home Festival Contact Style Sheet
    Filename: cstyles.css

    Authors:    Brit Barrick, James Hornsby, Orion Strinni
    Date: 11/17/20
    IS139 - Group 1 Final Project
*/

/* Grid Styles */
form {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 500px;
}
.contactinfo {
    grid-column-start: 1;
    grid-column-end: 2;

    width: auto;
}
.volunteerinfo {
    grid-column-start: 2;
    grid-column-end: 3;

    width: auto;
}

/* Field Set styles */
fieldset {
    background-color: white;
    border: 2px solid #fea837;
    border-radius: 5px;
    float: left;
    margin: 10px 0px 10px 2.5%;
    width: 46%;
    padding: 5px 15px;
}
legend {
    background-color: orange;
    border-radius: 5px;
    color: white;
    padding: 5px;
}

/* Label styles */
label {
    display: block;
    float: left;
    font-size: 0.9em;
    margin: 7px 4% 7px 5px;
    width: 20%;
}
label[for="volunteer"], label[for="yes"],
label[for="no"] {
    width: max-content;
}
label[for="shirt"] {
    width: max-content;
    padding-top: 10px;
}
label[for="newsletter"] {
    width: 90%;
}
label[for="experience"] {
    width: 40%;
}
article p {
    margin-block-start: inherit;
    margin-top: 0;
}

/* Input Control styles */
input {
    display: block;
    float: left;
    font-size: 0.9em;
    margin: 7px 0px;
    padding: 2px;
    width: 50%;

    border: 2px solid #84495F;
}
input[type="radio"] {
    width: 20px;
    border: none;
}
input[type="checkbox"] {
    width: 20px;
}
textarea {
    width: 50%;
    height: 100px;
    border: 2px solid #84495F;
}
textarea#experience {
    height: 225px;
}

/* Select Styles */
select {
    font-size: 0.9em;
    margin: 15px;
}

/* Button styles */
input[type="submit"] {
    clear: left;
}
input[type="submit"], input[type="reset"] {
    height: 40px;
    margin-right: 20px;
    margin-left: 2.5%;
    width: 200px;
    border: 2px solid #fea837;
    border-radius: 5px;
    color: #84495F;
}

/* Validation styles */
input:focus, select:focus {
    background-color: ivory;
}
input:focus:valid {
    background: rgb(220, 225, 220) url(../images/go.png) bottom right no-repeat;

    -o-background-size: contain;
    -moz-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
}
input:focus:invalid {
    background: rgb(255, 232, 233) url(../images/stop.png) bottom right no-repeat;

    -o-background-size: contain;
    -moz-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
}