/* Styles.css *//*
    Stay Home Festival style sheet
    Filename: styles.css

    Authors:    Brit Barrick, James Hornsby, Orion Strinni
    Date:       11/17/20
    IS139 - Group 1 Final Project
*/

/* General Styles */
h3, ul {
  padding-left: 20px;
  width: max-content;
}
div.lineup {
  margin: 10px;
  display: block;
  border-radius: 10px;
  padding: 10px;
}
figure {
  float: right;
}

/* lineup styles */
#dayone, #daythree {
  background-color: #fea837;
  height: 35%;
}
#dayone figure {
  padding-top: 5%;
}
#daytwo {
 background-color: #84495F;
 color: white;
}
#seger {
  position: relative;
  top: -75px;
  left: -10px;
}
#gambino {
  position: relative;
  top: -35px;
  left: -10px;
}



