/* Styles.css *//*
    Stay Home Festival style sheet
    Filename: styles.css

    Authors:    Brit Barrick, James Hornsby, Orion Strinni
    Date:       11/17/20
    Supported Files: background_spotlight.png
    IS139 - Group 1 Final Project
*/

/* reset styles */
html {
    font-size: 18px;
}
a, article, body, col, colgroup, div, fieldset, footer, form, 
header, h1, h2, input, label, legend, li, nav, p, table, 
tbody, td, thead, th, tr, ul {
    border: 0;
    padding: 0;
    margin: 0;
}
body {
  background-image: url('../images/background_spotlight.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-color: black;

}

/* body and page container */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding-bottom: 5px;
    background-color: #84495F;
    font-family: Arial, Helvetica, sens-serif;
}
h1 {
  font-size: 100px;
  padding-left: 15px;
}
h2 {
      color: black;
      margin-left: 5px;
}

/* hero image */
header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    align-content: flex-end;
}
header.hero {
    background-color: #000;
    height: 500px;
}
header h1 { /* To block out "Stay Home Fest" since it's written in the hero img */
  display: none;
}
h1 {
    color: #fea837;
}

/* skip navigation link */
p.skipnavigation {
    margin: 0;
}
p.skipnavigation a {
    position: absolute;
    left: -10000px;
}
p.skipnavigation a:focus {
    color: #000;
    background-color: snow;
    top: 2%;
    left: auto;
    right: 2%;
    z-index: 2;
}

/* site navigation */
nav.sitenavigation {
    width: 100%;
    text-align: center;
}
nav.sitenavigation li {
    display: inline-block;
    margin: 0.4em 0.6em;
    font-size: 1.1em;
    padding: 5px 50px;
    background-color: white;
    border: 2px solid #fea837;
    box-shadow: 5px 5px 5px black;
    border-radius: 5px;
}
nav.sitenavigation a:link {
    color: black;
    text-decoration: none;
}
nav.sitenavigation a:visited {
    color: #84495F;
}
nav.sitenavigation a:hover, nav.sitenavigation a:focus {
    color: #593E67;
    text-shadow: 1px -1px 0 #84495F;
}

/* main content */
.maincontent{
    background-color: white
}
article {
    background-color: white;
    margin: 10px 15px;
    padding: 5px 20px 30px;
    border-bottom: 1px solid black;
    /* float: left; */
}
article a {
  text-decoration: none;
}
article p {
    padding-top: 10px;
}
img.right {
    float: right;
}

/* footer */
footer{
  padding: 1% 1% 1% 5%;
  background-color: white;
  margin: 10px 15px 15px;
  text-align: center;
}
